:root {
  --bg-primary: #18181a;
  --primary: #ba9963;
  --white: #e7e7e7;
  --transparent: #5959593e;
}

*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 80%;
}

::-webkit-scrollbar {
  background-color: var(--white);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  opacity: 0.7;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

/* :root {
  --cursorX: 50vw;
  --cursorY: 50vh;
}
:root:before {
  content: '';
  z-index: 300;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 30vmax at var(--cursorX) var(--cursorY),
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.1) 20%,
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(0, 0, 0, 0.6) 70%,
    rgba(0, 0, 0, 0.7) 80%
  );
  
} */
body {
  background-color: var(--bg-primary);
}

header {
  width: auto;
  height: auto;
}

nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 3em;
  color: var(--primary);
}

ul {
  display: flex;
}

li {
  margin-left: 5rem;
}

li:first-child {
  margin: 0%;
}

.link {
  font-size: 1.4em;
  font-weight: lighter;
  color: var(--white);
  transition: 100ms color ease-in;
}

.link:hover {
  color: var(--primary);
}

.toggle-btn {
  display: none;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  justify-content: space-between;
}

.home-part-1 {
  margin-left: 6rem;
  width: fit-content;
}

.home-heading {
  font-size: 8em;
  color: var(--primary);
}

.home-part-2 {
  max-width: 100%;
}

.home-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 
    -------------------------------------Second Page----------------------------
*/
.second {
  width: auto;
  height: auto;
}

.painting {
  font-size: 8em;
  color: var(--primary);
  text-align: right;
  margin-right: 6rem;
  margin-top: 3rem;
}

.second-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  margin: 2rem auto 4rem auto;
}

.card {
  margin: auto;
  width: 60%;
  height: 80%;
}

.card-img-wrapper {
  width: 100%;
  border-radius: 15px;
  height: 80%;
  border: 2px solid var(--primary);
}

.card-img-1 {
  transform: scaleX(-1);
}

.card-img {
  border-radius: inherit;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.card-heading {
  margin: 1.5rem auto;
  text-align: center;
  font-size: 2.5em;
  color: var(--white);
}

/* 
    -------------------------------------Third Page----------------------------
*/
.third {
  width: auto;
  height: auto;
}

.third-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  margin: 4rem auto;
}

.third-part-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-part-1-img {
  width: 60%;
  object-fit: cover;
}

.third-part-2 {
  padding: 1rem 0%;
}

.third-part-2-heading {
  font-size: 8em;
  color: var(--primary);
}

.third-part-2-para {
  color: var(--white);
  line-height: 1.5rem;
  margin-right: 4rem;
  margin-bottom: 3rem;
}

.third-part-2-btn {
  background-color: var(--primary);
  padding: 1.1rem 1.5rem;
  font-size: 1em;
  color: var(--bg-primary);
  font-weight: 700;
  border-radius: 100px;
  transition: all 400ms;
  border: 2px solid var(--primary);
}

.third-part-2-btn:hover {
  border: 2px solid var(--primary);
  background-color: var(--bg-primary);
  color: var(--primary);
}

/* 
    -------------------------------------Fourth Page----------------------------
*/
.fourth {
  width: auto;
  height: auto;
}

.nft-collection-heading {
  text-align: center;
  font-size: 5em;
  color: var(--primary);
  margin: 4rem auto;
}

.fourth-container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  padding: 2rem;
  row-gap: 3rem;
}

.nft-collection-profile {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
  background-color: var(--transparent);
  border-radius: 500px;
}

.nft-coolection-profile-img-wrapper {
  width: 70%;
  height: 50%;
}

.nft-coolection-profile-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--primary);
}

.nft-collection-profile-name {
  font-size: 2.5em;
  color: var(--white);
  margin-top: 1rem;
}

.nft-collection-profile-link {
  color: var(--primary);
  margin-top: 0.5rem;
  font-size: 1em;
  font-weight: 600;
  padding: 1rem;
  border-radius: 100px;
  background-color: var(--bg-primary);
}

/* 
        -------------------------------------Fifth Page----------------------------
*/
.fifth {
  width: auto;
  height: auto;
}

.fifth-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
}

.fifth-part-1 {
  width: 100%;
  height: 60%;
}

.fifth-part-1-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fifth-part-2-heading {
  color: var(--primary);
  font-size: 3em;
  margin-right: 13rem;
}

.fifth-part-2-para {
  color: var(--white);
  margin: 1rem 6rem 2rem auto;
}

.newsletter-input {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--transparent);
  border: 1px solid var(--primary);
  border-radius: 100px;
}

input {
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5em;
  color: var(--white);
  border-radius: inherit;
}

.subscribe-btn {
  padding: 1rem;
  color: var(--bg-primary);
  background-color: var(--primary);
  border-radius: 100px;
  margin-right: 0.5rem;
  font-size: 1em;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 400ms;
}

.subscribe-btn:hover {
  background-color: transparent;
  color: var(--primary);
}

/* 
        -------------------------------------Footer Page----------------------------
*/
.footer {
  width: auto;
  height: auto;
}

.footer-container {
  display: grid;
  grid-template-columns: 350px 1fr 350px;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
}

.footer-logo {
  color: var(--primary);
  font-size: 3em;
}

.footer-para {
  margin: 1rem 0rem;
  width: 320px;
  color: var(--white);
}

.footer-part-2 {
  display: flex;
  justify-content: space-evenly;
}

.footer-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.links-category {
  color: var(--primary);
  font-size: 1.5em;
}

.footer-link {
  font-weight: lighter;
  color: var(--white);
  font-size: 1em;
  transition: all 400ms;
}

.footer-link:hover {
  color: var(--primary);
}

.social-media {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.social-media-link {
  color: var(--bg-primary);
}

i {
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.5em;
  transition: all 400ms;
}

i:hover {
  transform: translateY(-10px);
}

/* 
===================================Preloading====================================
*/

.preloader {
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader.remove {
  visibility: hidden;
  opacity: 0;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #F48932;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg),
    radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 calc(100% - 8px));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s5 1s infinite;
}

@keyframes s5 {
  to {
    transform: rotate(.5turn)
  }
}